---
interface Props {
	labels: Record<'framework' | 'co2' | 'rating' | 'note', string>;
}

const data = {
	lastUpdated: '2026-04-21',
	frameworks: [
		{
			name: 'Starlight',
			co2: 0.01,
			rating: 'A+',
			href: 'https://www.websitecarbon.com/website/starlight-astro-build-getting-started/',
		},
		{
			name: 'VitePress',
			co2: 0.04,
			rating: 'A+',
			href: 'https://www.websitecarbon.com/website/vitepress-dev-guide-what-is-vitepress/',
		},
		{
			name: 'Read the Docs',
			co2: 0.04,
			rating: 'A',
			href: 'https://www.websitecarbon.com/website/docs-readthedocs-io-en-stable-index-html/',
		},
		{
			name: 'docsify',
			co2: 0.04,
			rating: 'A',
			href: 'https://www.websitecarbon.com/website/docsify-js-org/',
		},
		{
			name: 'Sphinx',
			co2: 0.04,
			rating: 'A',
			href: 'https://www.websitecarbon.com/website/sphinx-doc-org-en-master-usage-quickstart-html/',
		},
		{
			name: 'mdBook',
			co2: 0.05,
			rating: 'A',
			href: 'https://www.websitecarbon.com/website/rust-lang-github-io-mdbook/',
		},
		{
			name: 'Vocs',
			co2: 0.05,
			rating: 'A',
			href: 'https://www.websitecarbon.com/website/vocs-dev-docs/',
		},
		{
			name: 'MkDocs',
			co2: 0.08,
			rating: 'A',
			href: 'https://www.websitecarbon.com/website/mkdocs-org-getting-started/',
		},
		{
			name: 'Fumadocs',
			co2: 0.09,
			rating: 'B',
			href: 'https://www.websitecarbon.com/website/fumadocs-dev-docs-ui/',
		},
		{
			name: 'Docusaurus',
			co2: 0.09,
			rating: 'B',
			href: 'https://www.websitecarbon.com/website/docusaurus-io-docs/',
		},
		{
			name: 'Nextra',
			co2: 0.1,
			rating: 'B',
			href: 'https://www.websitecarbon.com/website/nextra-site-docs-docs-theme-start/',
		},
		{
			name: 'Docus',
			co2: 0.11,
			rating: 'B',
			href: 'https://www.websitecarbon.com/website/docus-dev-en-getting-started-project-structure/',
		},
		{
			name: 'GitBook',
			co2: 0.44,
			rating: 'F',
			href: 'https://www.websitecarbon.com/website/gitbook-com-docs/',
		},
		{
			name: 'Mintlify',
			co2: 0.73,
			rating: 'F',
			href: 'https://www.websitecarbon.com/website/mintlify-com-docs-quickstart/',
		},
	],
} satisfies {
	lastUpdated: string;
	frameworks: Array<{
		name: string;
		co2: number;
		rating: 'A' | 'A+' | 'B' | 'C' | 'D' | 'E' | 'F';
		href: `https://www.websitecarbon.com/website/${string}/`;
	}>;
};

const { labels } = Astro.props;
const { lang } = Astro.locals.starlightRoute.entryMeta;

const formatCO2 = Intl.NumberFormat(lang, {
	style: 'unit',
	unit: 'gram',
	unitDisplay: 'narrow',
	minimumFractionDigits: 2,
	maximumFractionDigits: 2,
}).format;
---

<table>
	<thead>
		<tr>
			<th>{labels.framework}</th>
			<th>{labels.co2}</th>
			<th align="center">{labels.rating}</th>
		</tr>
	</thead>
	<tbody>
		{
			data.frameworks
				.sort((a, b) => a.co2 - b.co2)
				.map(({ name, co2, rating, href }) => (
					<tr>
						<td>
							<a {href}>{name}</a>
						</td>
						<td>{formatCO2(co2)}</td>
						<td align="center">{rating}</td>
					</tr>
				))
		}
	</tbody>
</table>

<p>
	<small>
		{
			// @ts-expect-error — We’re using an unknown “key” to depend on i18next’s interpolation logic.
			Astro.locals.t(labels.note, {
				date: new Date(data.lastUpdated).toLocaleDateString(lang, { dateStyle: 'long' }),
			})
		}
	</small>
</p>
