---
import { Image } from 'astro:assets';
import { slugToLocaleData } from '../../../packages/starlight/utils/slugs';

interface Props {
	handle: string;
	name: string;
	content?: string;
	avatar?: string;
	link?: URL;
	dir?: 'rtl' | 'ltr';
	lang?: string;
}

const { content, name, handle, avatar, link, dir, lang } = Astro.props;

// The current page's slug.
const slug = Astro.url.pathname.replace(/^\//, '').replace(/\/$/, '');
const locale = slugToLocaleData(slug);
---

<li class="testimonial">
	<div class="testimonial-body" dir={dir ?? locale.dir} lang={lang ?? locale.lang}>
		{content ? <blockquote cite={link ? link.toString() : ''} set:html={content} /> : null}
		<slot />
	</div>
	<div class="testimonial-heading">
		{avatar ? <Image class="avatar" height="50" width="50" src={avatar} alt="image" /> : null}
		<div class="testimonial-title">
			<p class="title">
				{name}
			</p>
			{
				link ? (
					<a href={link} target="_blank" class="handle">
						@{handle}
					</a>
				) : (
					<span class="handle">@{handle}</span>
				)
			}
		</div>
	</div>
</li>

<style>
	.testimonial-heading {
		display: flex;
		gap: 1rem;
		flex-direction: row;
		align-items: center;
		justify-items: start;
	}
	.avatar {
		border-radius: 9999px;
	}
	.testimonial .testimonial-title {
		display: flex;
		flex-direction: column;
		margin-top: 0;
	}
	.title {
		font-weight: 600;
		font-size: var(--sl-text-h4);
		color: var(--sl-color-white);
		line-height: var(--sl-line-height-headings);
	}
	.handle {
		gap: 0.1rem;
		color: var(--sl-color-blue);
		font-family: 'inter', sans-serif;
		font-size: var(--sl-text-base);
		text-underline-offset: 4px;
	}
	.testimonial {
		flex-direction: column;
		gap: clamp(0.5rem, calc(0.125rem + 1vw), 1rem);
	}
	.testimonial-body {
		margin-bottom: 0 !important;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		font-size: clamp(var(--sl-text-sm), calc(0.5rem + 1vw), var(--sl-text-body));
		text-align: start;
	}
	.testimonial-date {
		margin-top: 1rem;
	}
</style>
