---
import { Image } from 'astro:assets';

interface Props {
	handle: string;
	name: string;
	avatar: string;
	link: string;
}

const { name, handle, avatar, link } = Astro.props;
---

<li class="testimonial">
	<blockquote class="quote" cite={link}>
		<slot />
	</blockquote>
	<div class="footer">
		<Image class="avatar" height="64" width="64" src={avatar} alt="" />
		<div>
			<p class="name">{name}</p>
			<a href={link} class="handle">@{handle}</a>
		</div>
	</div>
</li>

<style>
	.testimonial {
		display: flex;
		flex-direction: column;
		gap: 2em;
	}
	.quote {
		position: relative;
		padding-inline-start: 1.5em;
	}
	.quote::before {
		position: absolute;
		content: '';
		inset-block: 0.5em;
		inset-inline-start: 0;
		border-inline-start: 1px solid var(--sl-color-text-accent);
	}
	.quote > :global(* + *) {
		margin-top: 0.75em;
	}

	.footer {
		display: flex;
		gap: 1rem;
		align-items: center;
	}
	.avatar {
		--outline-color: rgba(255, 255, 255, 0.33);
		outline: 1px solid var(--outline-color);
		outline-offset: -1px;
		border-radius: 99rem;
		width: 4em;
		height: 4em;
	}
	:global([data-theme='light']) .avatar {
		--outline-color: rgba(23, 25, 30, 0.33);
	}

	.name {
		font-weight: 600;
		font-size: var(--sl-text-h4);
		color: var(--sl-color-white);
		line-height: var(--sl-line-height-headings);
	}
	.handle {
		text-underline-offset: 4px;
		color: var(--sl-color-text-accent);
	}
</style>
